h2{
    color: Green;
}
h3{
    color: Red;
    background-color: deepskyblue;
}
p{
    color: aqua;
    background-color: darkcyan;
    text-align: center;
    text-decoration-color: darkgray;
    text-shadow: darkred;
}

